server:
  port: 9005

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

spring:
  application:
    name: userservice
  datasource:
    url: jdbc:mysql://localhost:3306/ltfullstack?useSSL=false&serverTimezone=UTC
    username: root
    password: 123456

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8083/auth/realms/baeldung
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

idp:
  url: http://localhost:8180
  client-id: cinema-app
  client-secret: 2R7GMA2jYS9ODLUAkOsVRG9J02rlfsqg
  realm: microservices
